$twitter-blue: #00acee;
$primary-yellow: #FFEE93;
$secondary-yellow: #FCF5C7;
$green: #ADF7B6;
$peach: #FFC09F;
$lightgrey: #F5F5F5;
$darkgrey: #979797;

body {
  font-family: helvetica;
}

.app {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.header {
  background-color: $primary-yellow;
  height: 120px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 4em;
  font-weight: 650;
  font-style: italic;
}

.feed {
  background-color: red;
  display: flex;
  justify-content: space-around;
  min-height: 600px;
}

.tweetlist {
  background-color: $twitter-blue;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.tweetitem {
  color: black;
  background-color: $lightgrey;
  width: 90%;
  border: 1px solid black;
  border-radius: 2px;
  margin-bottom: 3px;
  padding: 4px;
}

.newslist {
  color: black;
  background-color: $secondary-yellow;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.newsitem {
  color: black;
  background-color: white;
  width: 90%;
  border: 1px solid black;
  border-radius: 2px;
  margin-bottom: 3px;
  padding: 4px;
  transition: background-color 0.12s;
  &:hover {
    background-color: darkgrey;
    color: white;
    cursor: pointer;
  }
}

.button {
  margin: 10px;
  padding: 15px;
  background-color: #dddddd;
  border: 1px solid black;
  width: 150px;
  text-align: center;
  transition: background-color 0.12s;
  &:hover {
    background-color: darkgrey;
    color: white;
    cursor: pointer;
  }
}